.logo {
    margin-left: 10px;
    font-size: 20px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-nav {
    min-height: 10vh;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.nav-style {
    color: black;
}

.links:hover {
    color: rgb(223, 146, 94);
    text-decoration: none;
}

.upper-nav {
    position: relative;
    background: black;
    color: white;
    height: 50px;
}