.search-form {
   padding: 10px;
}

/* row - container */
.form-sytle {
    width: 100%;
}

.search-form-style {
  width: 100%;
  margin: 0px auto;
}

.input-group-text {
  background: black;
  border: none;
}

.select-button {
  color: whitesmoke;
}

.search-button {
  color: whitesmoke;
}

.form-control {
  height: 30px;
  margin: auto;
}

.form-sytle {
  padding-top: 12px;
}